h1{
    font-size: 55px;
    margin-left:42px;
    margin-top: 20px;
}
h2{
    font-size: 30px;
    margin-left: 47px;
}
.navright fa-icon{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}
.navright button{
    margin: 0 20px;
    /* height:30px; */
}