<!-- Remove the container if you want to extend the Footer to full width. -->

    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #23262d"
            >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                <img src="./assets/header/logo.png" alt="Logo" width="120" height="50" class="d-inline-block align-text-top">
              </h6>
              <p>
                Copyright © Sunrise Mentors Pvt. Ltd.
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">CODING NINJAS</h6>
              <p>
                <a class="text-white">About Us</a>
              </p>
              <p>
                <a class="text-white">Privacy Policy</a>
              </p>
              <p>
                <a class="text-white">Terms & Condition</a>
              </p>
              <p>
                <a class="text-white">Pricing & Refund Policy</a>
              </p>
              <p>
                <a class="text-white">Bug Bounty</a>
              </p>
              <p>
                <a class="text-white">Our Students</a>
              </p>
              <p>
                <a class="text-white">Press Release</a>
              </p>
            </div>
             <!-- Grid column -->
             <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">COMMUNITY

                   
                   
                    
                    
                    
                    
                    
                    
                   </h6>
                <p>
                  <a class="text-white"> CodeStudio
                </a>
                </p>
                <p>
                  <a class="text-white"> Blog</a>
                </p>
                <p>
                  <a class="text-white">Events</a>
                </p>
                <p>
                  <a class="text-white">Campus Ninja
                </a>
                </p>
                <p>
                  <a class="text-white">Affiliate</a>
                </p>
                <p>
                  <a class="text-white"> Scholarship Event</a>
                </p>
                
              </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                PRODUCTS









              </h6>
              <p>
                <a class="text-white">Courses</a>
              </p>
              <p>
                <a class="text-white">Try courses for Free</a>
              </p>
              <p>
                <a
                 class="text-white">Career Camp</a>
              </p>
              <p>
                <a class="text-white">Mock Interviews</a>
              </p>
              <p>
                <a class="text-white">Hire Talent</a>
              </p>
            </div>
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
              <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-3">
  
        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
             
              <!-- Copyright -->
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class=" text-center ">
             
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><fa-icon [icon]="myYoutubeIcon"></fa-icon></a>
  
             
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><fa-icon [icon]="myLinkedinIcon"></fa-icon></a>
  
             
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><fa-icon [icon]="myFacebookIcon"></fa-icon></a>
  
              
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><fa-icon [icon]="myInstagramIcon"></fa-icon></a>
            </div>
            <!-- Grid column -->
          </div>
        </section>
        <!-- Section: Copyright -->
      </div>
      <!-- Grid container -->
    </footer>
    <!-- Footer -->

