.cardsContainer{
    display: flex;
    flex-direction: column;
    
    
}
.cardItems{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cardCategory{
    
    color:white;
    margin:20px 40px;
    border-radius: 20px;
    font-size: 20px;
    
}
.cardSubcategory{
    
    
    margin:0 50px;
    border-radius: 20px;
    /* font-size: 20px; */
    
}
.cardCategory a{
    background-color: rgba(7, 7, 7, 0.789);
    margin:0 10px;
    color: aliceblue;
}
.cardCategory a.active{
    background-color: rgba(0, 0, 255, 0.736)!important;
}
