<div class="cardsContainer">
    <div class="cardCategory">
    <nav class="nav nav-pills flex-column flex-sm-row" style="height:40px;" >
        <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#" style="height:40px;">All Events</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#webinars" style="height:40px;">Webinars</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#CodingEvents" style="height:40px;">Coding Events</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#BootcampEvents" style="height:40px;">Bootcamp Events</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#Workshop" style="height:40px;">Workshop</a>
      </nav>
    </div>
    <div class="cardSubcategory">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Upcoming</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#">Archived</a>
              </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#">All Time Favourites</a>
            </li>
            
              <app-taglist ></app-taglist>
            
            
          </ul>
    </div>
    

    <div class="cardItems">
    <div class="card" style="width: 18rem; margin:45px;">
    <img src="../../assets/cards/card1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ninjas Career Camp Freshers Java Jan'23 Batch 1</h5>
      <p class="card-text">Ninjas Career Camp Entrance Test is coming up on 16th June, from 12 AM onwards.</p>
      <a href="#" class="btn btn-primary">REGISTER NOW</a>

    </div>
    
  </div>

  <div class="card" style="width: 18rem; margin:45px;">
    <img src="../../assets/cards/card1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ninjas Career Camp Freshers Java Jan'23 Batch 1</h5>
      <p class="card-text">Ninjas Career Camp Entrance Test is coming up on 16th June, from 12 AM onwards.</p>
      <a href="#" class="btn btn-primary">REGISTER NOW</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin:45px;">
    <img src="../../assets/cards/card1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ninjas Career Camp Freshers Java Jan'23 Batch 1</h5>
      <p class="card-text">Ninjas Career Camp Entrance Test is coming up on 16th June, from 12 AM onwards.</p>
      <a href="#" class="btn btn-primary">REGISTER NOW</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin:45px;">
    <img src="../../assets/cards/card1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ninjas Career Camp Freshers Java Jan'23 Batch 1</h5>
      <p class="card-text">Ninjas Career Camp Entrance Test is coming up on 16th June, from 12 AM onwards.</p>
      <a href="#" class="btn btn-primary">REGISTER NOW</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin:45px;">
    <img src="../../assets/cards/card1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ninjas Career Camp Freshers Java Jan'23 Batch 1</h5>
      <p class="card-text">Ninjas Career Camp Entrance Test is coming up on 16th June, from 12 AM onwards.</p>
      <a href="#" class="btn btn-primary">REGISTER NOW</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin:45px;">
    <img src="../../assets/cards/card1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ninjas Career Camp Freshers Java Jan'23 Batch 1</h5>
      <p class="card-text">Ninjas Career Camp Entrance Test is coming up on 16th June, from 12 AM onwards.</p>
      <a href="#" class="btn btn-primary">REGISTER NOW</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin:45px;">
    <img src="../../assets/cards/card1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ninjas Career Camp Freshers Java Jan'23 Batch 1</h5>
      <p class="card-text">Ninjas Career Camp Entrance Test is coming up on 16th June, from 12 AM onwards.</p>
      <a href="#" class="btn btn-primary">REGISTER NOW</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin:45px;">
    <img src="../../assets/cards/card1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ninjas Career Camp Freshers Java Jan'23 Batch 1</h5>
      <p class="card-text">Ninjas Career Camp Entrance Test is coming up on 16th June, from 12 AM onwards.</p>
      <a href="#" class="btn btn-primary">REGISTER NOW</a>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
</div>


  