section{
    background: url("../assets/back.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:right ;
    background-attachment: fixed;
    
}
.tags ul{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    flex-wrap: wrap;
}
.tags li{
margin:10px;
padding:5px;
list-style: none;

}
.tags li:hover{
    background-color: rgba(0, 81, 255, 0.549);
}
.tags a{
    text-decoration: none;
    color: rgb(17, 17, 18);
    background-color: rgba(128, 128, 128, 0.119);
    border-radius: 20px;
}
.tags{
    /* background-color: cadetblue; */
}
.filtertags{
    height:25px;
    position: relative;
    left: 79vw;
    top:100px;
    /* top: 200px; */
    z-index: 1;
    scroll-behavior: smooth;

}
.scroll{
    overflow-y:scroll;
}